
/* =====================Global======================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====================Header======================================================= */

header{
    background-color: #8B7355;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header img{
    height: 80px;
    width: auto;
}

nav {
    position: absolute;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #8B7355;
    box-sizing: border-box;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #F5DEB3;
    transition: color 0.3s;
}

nav a:hover{
    color: #D4AF37;;
}

body {
    background-color: #fff8e7;
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
}

.logo-container {
    background-color: white;
    margin-top: 50px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* =====================Section======================================================= */
.dynamic-text {
font-size: 24px;
transition: all 0.3s ease;
cursor: pointer;
display: inline-block;
}

.dynamic-text:hover {
transform: scale(1.1);
color: #ff6b6b;
text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.hero {
    background-image: url('mousse\ _de_biere.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#bieres {
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
}

#text-accueil {
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}
/* =====================Footer======================================================= */

footer{
    background-color: #8B7355;
    color: #F5DEB3;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
}
