
/* =====================Global======================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====================Header======================================================= */

header{
    background-color: #8B7355;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header img{
    height: 80px;
    width: auto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #F5DEB3;
    transition: color 0.3s;
}

nav a:hover{
    color: #D4AF37;;
}



/* =====================Section======================================================= */
.dynamic-text {
font-size: 24px;
transition: all 0.3s ease;
cursor: pointer;
display: inline-block;
color: #333;
}

.dynamic-text:hover {
transform: scale(1.1);
color: #ff6b6b;
text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}


/* =====================Footer======================================================= */

footer{
    background-color: #8B7355;
    color: #F5DEB3;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
}
